<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Image Classifier</title>
</head>
<body>
    <h1>Hosting my little project</h1>
    <div><input type="file" name="image" id="image_0"></div>
    <div id="result"></div>
</body>
<script>
$(document).ready(function(){

    $("#image_0").change(function(){
        var formData = new FormData();
        formData.append('image', $('input[type=file]')[0].files[0]);
        $.ajax({
            url: "/",
            type: 'POST',
            contentType: false, // NEEDED, DON'T OMIT THIS (requires jQuery 1.6+)
            processData: false,
            data: formData,
            method: 'POST',
            success: function(result){
            $("#result").html(result);
            }});
    });
});
</script>
</html>